# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environment
venv/
.env
.env.*

# Media
media/

# Static (if generated locally)
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log